@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --foreground: #cccccc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
